@{
    Layout="Shared/_Layout.cshtml";
}
<div class="center-align">
    <h1>Welcome to the library!</h1>
    <p><em>We got books and games</em></p>
    <br>
    <br>
    <div class="left-align newsletter">
        <h3>Newsletter</h3>
        <p>Lorem ipsum dolor sit amet, at eam habeo etiam suavitate, vitae legere similique no vis. Vix ex diam elaboraret. Duo ei simul dicant doctus, per dicit ignota ea. Malis noster conceptam has an. Ea vitae maiorum intellegam pri, elaboraret accommodare an est, sea te liber mucius contentiones. Nam hinc natum numquam ex, ius ea quem malis ridens.</p>

        <p>In regione saperet commune mea, eos ignota scripta id. Sanctus facilisis consetetur ius eu, vis habeo nonumes in. Congue labitur forensibus no pro. Usu solum euismod labores id.</p>

        <p>Velit eleifend consequat est ex, cu vim unum nibh sapientem. Te mediocrem quaerendum mei. Ex nulla essent epicuri has. Enim meis consul pri cu. Ad solet feugait eleifend pro.</p>

        <p>Aeque populo sed an. Ei iusto concludaturque quo, appetere prodesset te eum. In sed error homero delicata, vidit virtute disputando at vix. Est viris accusata ex, at omnesque expetenda dignissim eum. Usu nulla fabulas ne, pro aperiam quaestio ne.</p>
    </div>
</div>
